<!doctype html>
<html>
<head>
<base href="/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
<meta name="format-detection" content="telephone=no"> <!-- 엣지에서 전화번호링크해제 -->
<meta name="description" content="We Are Creating The Culture">
<meta name="naver-site-verification" content=""/>
<meta name="robots" content="All">
<meta name="audience" content="All">
<meta name="rating" content="General">
<meta http-equiv="keywords">
<!-- 기사일때와 아닐때 og data세팅 -->
<meta property="fb:app_id" content="">


<!-- favicon -->
<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- favicon @-->

<!-- 3rd party -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script
  src="http://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- 3rd party @-->

{{#with og }}
<meta property="og:type" content="website">
<meta property="og:title" content="경희대학교 {{title}}">
<meta property="og:description" content="{{content_text}}">
<meta property="og:image" content="{{mainImg}}">
<meta property="og:url" content="">
<title>test | {{title}}</title>
{{else}}
<meta property="og:type" content="website">
<meta property="og:title" content="">
<meta property="og:description" content="">
<meta property="og:image" content="">
<meta property="og:url" content="">
<title>test</title>
{{/with}} 
<script src="./js/jquery-1.7.1.min.js"></script>

<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="./js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="./js/jquery.bxslider.min.js"></script>
<script src="./js/slick.js"></script>
<script src="./js/script.js"></script>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/sub.css">
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/slick-theme.css">

<body>
    <div id="wrap">
        <div class="bg-back-opacity"></div>
            <div class="bg-back-login">
                <div class="bg-back-login-title">
                    <h3>종합정보시스템 로그인</h3>
                    <span></span>
                </div>
                <div class="bg-back-login-box">
                    <label for="">ID</label>
                    <input type="text" value="ID를 입력하세요">
                    <label for="">PW</label>
                    <input type="text" value="비밀번호를 입력하세요">
                    <a href="">로그인</a>
                </div>
            </div>
        <div class="searchmenu cf">
            <div class="searchmenu-center">
                <div class="searchmenu-center-logo">
                    <img src="./images/logo35.png" alt="logo">
                </div>
                <div class="searchmenu-center-searchbar">
                    <p><img src="./images/search_15.png" alt="">통합검색 인기검색어 <span class="searchmenu-center-searchbar-btn">닫기<img src="./images/close.png" class="close" alt="close"></span></p>
                    <div class="searchmenu-center-searchbar-tags cf">
                        <a href="">#등록금</a>
                        <a href="">#기숙사</a>
                        <a href="">#수강</a>
                        <a href="">#신청</a>
                        <a href="">#도서관</a>
                    </div>
                    <div class="searchmenu-center-searchbar-bar cf">
                        <select name="게시판" id="">
                            <option value="">테스트</option>
                            <option value="">테스트</option>
                            <option value="">테스트</option>
                        </select>
                        <input type="text" value="교육">
                        <label for=""><img src="./images/search_15.png" alt=""></label>
                        <button>통합검색하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="header">
            <div class="header_top">
                <h1 class="header_top-logo"><a href="" class="header_top-logo-img"></a></h1>
                <div class="header_top-rightmenu">
                    <ul>
                        <li class="search"><img src="./images/search_15.png" alt="">통합검색</li>
                        <li><img src="./images/eng_15.png" alt="">ENGLISH</li>
                        <li class="login-li"><img src="./images/log_out_15.png" alt="">로그인</li>
                    </ul>
                    <select name="동문 바로가기" id="">
                        <option value="동문 바로가기">동문 바로가기</option>
                        <option value="test2">test2</option>
                        <option value="test3">test3</option>
                    </select>
                    <select name="동문 바로가기" id="">
                        <option value="동문 바로가기">동문 바로가기</option>
                        <option value="test2">test2</option>
                        <option value="test3">test3</option>
                    </select>
                </div>
            </div>
            <div class="header_top-rightmenu-m">
                <h1 class="header_top-rightmenu-m-top">
                    <div class="header_top-rightmenu-m-top-logo"><a href="" class="header_top-logo-img"></a></div>
                    <ul>
                        <li><img src="./images/search_15.png" alt=""></li>
                        <li><img src="./images/eng_20.png" alt=""></li>
                        <li>
                            <div class="header_top-rightmenu-m-top-menu2"><img src="./images/menu.png" alt=""></div>
                            <div class="header_top-rightmenu-m-top-menu"><img src="./images/menu.png" alt=""></div>
                        </li>
                    </ul>
                </h1>
            </div>
            <div class="nav cf">
                <div class="nav-center">
                    <div class="nav-center-login"><img src="./images/log_out_20.png" class="nav-center-login-img" alt="">로그인 <img src="./images/right_grey.png" class="right-grey" alt=""></div>
                    <ul class="cf">
                        <li><p>대학소개</p><span></span>
                            <div>
                                <ul>
                                    <li>학장인사말</li>
                                    <li>교육이념/비전</li>
                                    <li>연혁</li>
                                </ul>
                            </div>
                        </li>
                        <li><p>전공</p><span></span>
                            <div>
                                <ul>
                                    <li>학장인사말</li>
                                    <li>교육이념/비전</li>
                                    <li>연혁</li>
                                </ul>
                            </div>
                        </li>
                        <li><p>입학</p><span></span>
                            <div>
                                <ul>
                                    <li>학장인사말</li>
                                    <li>교육이념/비전</li>
                                    <li>연혁</li>
                                </ul>
                            </div>
                        </li>
                        <li><p>연구</p><span></span>
                            <div>
                                <ul>
                                    <li>학장인사말</li>
                                    <li>교육이념/비전</li>
                                    <li>연혁</li>
                                </ul>
                            </div>
                        </li>
                        <li><p>대학생활</p><span></span>
                            <div>
                                <ul>
                                    <li>학장인사말</li>
                                    <li>교육이념/비전</li>
                                    <li>연혁</li>
                                </ul>
                            </div>
                        </li>
                        <li><p>공대마당</p><span></span>
                            <div>
                                <ul>
                                    <li>학장인사말</li>
                                    <li>교육이념/비전</li>
                                    <li>연혁</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="logout">
                        <div class="logout-btn">로그아웃</div>
                    </div>
                </div>
                <div class="search"></div>
            </div>
        </div>
        {{{body}}}
        <div id="footer" class="cf">
            <div class="footer_top cf">
                <ul class="cf">
                    <li><a href="">경희대학교</a></li>
                    <li><a href="">공학교육인증</a></li>
                    <li><a href="">종합정보시스템</a></li>
                    <li><a href="">예비경희인</a></li>
                </ul>
            </div>
            <div class="footer_middle cf">
                <div class="footer_middle_main cf">
                    <a href="" class="header_top-logo-img"></a>
                    <div class="footer_middle_main-info">
                        <select name="" id="">
                            <option value="패밀리 사이트 바로가기">패밀리 사이트 바로가기</option>
                            <option value="패밀리 사이트 바로가기">패밀리 사이트 바로가기</option>
                            <option value="패밀리 사이트 바로가기">패밀리 사이트 바로가기</option>
                        </select>
                        <div class="footer_middle_main-info-social cf">
                            <img src="./images/facebook.png" alt="">
                            <img src="./images/twitter.png" alt="">
                            <img src="./images/naver.png" alt="">
                            <img src="./images/youtube.png" alt="">
                            <img src="./images/insta.png" alt="">
                        </div>
                        <p>경기도 용인시 기흥구 덕영대로 1732</p>
                        <p>대표전화 : 031) 201-2401~3</p>
                        <p>팩스 : 0310 202-8106</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
